./fem2D_lid_driven/__pycache__/
./fem2D_lid_driven/Models/
./fem2D_convdiffPDE/concentrations_id_2.csv
./fem2D_convdiffPDE/concentrations_id.csv
./fem2D_convdiffPDE/dim_id_residuals_2.csv
./fem2D_convdiffPDE/dim_id_residuals.csv
./fem2D_convdiffPDE/figures
./fem2D_convdiffPDE/__pycache__
./fem2D_convdiffPDE/.ipynb_checkpoints
./fem2D_stokesPDE/Models
./fem2D_stokesPDE/figures
./fem2D_stokesPDE/__pycache__
./fem2D_stokesPDE/.ipynb_checkpoints